<% provide(:title, 'Push') %>
<h1>Push</h1>
<%= form_for @push do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div>
    <font size="4">
    I want to tag   
    <%= f.select(:source_tag_name, current_user.get_tags, {}, { :class => "dropdown" }) %> 
    articles
    <%= f.select(:comparator, ['Over','Under'], {}, { :class => "dropdown" }) %>
    <%= f.number_field :article_length, :class => "number" %>
    minutes to read with the tag
    <%= f.select(:destination_tag_name, current_user.get_tags, {}, { :class => "dropdown" }) %>
    </font>
  </div>
  <%= f.submit "Save", class: "btn btn-small btn-primary" %>
  <%= f.submit "Save and Run", class: "btn btn-small btn-primary" %>
  <%= f.submit "Save and Create New", class: "btn btn-small btn-primary" %>
<% end %>

