<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
    </aside>

    <%= form_for(@fetch) do |f| %>
      <%= f.label "Full Fetch" %>
      <%= f.check_box(:full_fetch) %>
      <%= f.submit "Fetch Pocket Articles" %>
    <% end %>
    <%= current_user.get_tags %>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to Fagin</h1>
    <%= image_tag("fagin.gif", alt:"Fagin") %>
    <h2>Pick what's in your Pocket</h2>

    <%= link_to "Sign in with Pocket", '/auth/pocket', class: "btn btn-large btn-primary" %>

  </div>

  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>
