<% provide(:title, 'Tag') %>
<h1>Tag Analysis</h1>

<p><%= "Average length of articles tagged by you using the '#{@tag.name}' tag is #{@avg_len} words" %></p>
<p></p>
<hr>
<h2><%= "Articles tagged with '#{@tag.name}' by you" %></h2>

<%= will_paginate @my_articles %>
<%= render @my_articles %>
<%= will_paginate @my_articles %>

<hr>
<h2><%= "Articles tagged with '#{@tag.name}' by others" %></h2>

<%= will_paginate @all_articles %>
<%= render @all_articles %>
<%= will_paginate @all_articles %>
